# Chapter 1: Introduction

### 1.3.1. Writing Your First Program

In [1]:
print("Welcome to Data Visualization with Python")

Welcome to Data Visualization with Python

### 1.3.2. Python Variables and Data Types

In [1]:
# A string Variable
first_name = "Joseph" 
print(type(first_name))

# An Integer Variable
age = 20 
print(type(age))

# A floating point variable
weight = 70.35
print(type(weight))

# A boolean variable
married = False
print(type(married))

#List
cars = ["Honda", "Toyota", "Suzuki"]
print(type(cars))

#Tuples
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print(type(days))

#Dictionaries
days2 = {1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday", 6:"Friday", 7:"Saturday"}
print(type(days2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### 1.3.3. Python Operations

#### Arithmetic Operators

In [2]:

X = 20 
Y = 10 
print(X + Y) 
print(X - Y) 
print(X * Y) 
print(X / Y) 
print(X ** Y)

30
10
200
2.0
10240000000000

#### Logical Operators

In [3]:
X = True 
Y = False 
print(X and Y) 
print(X or Y) 
print(not(X and Y))

False
True
True

#### Comparison Operators

In [4]:

X = 20
Y = 35

print(X == Y) 
print(X != Y) 
print(X > Y) 
print(X < Y) 
print(X >= Y) 
print(X <= Y)

False
True
False
True
False
True

#### Assignment Operators

In [5]:
X = 20; Y = 10
R = X + Y 
print(R)

X = 20; 
Y = 10 
X += Y
print(X)

X = 20; 
Y = 10 
X -= Y 
print(X) 

X = 20;
Y = 10 
X *= Y 
print(X)

X = 20;
Y = 10 
X /= Y 
print(X) 

X = 20;
Y = 10 
X %= Y 
print(X) 

X = 20; 
Y = 10 
X **= Y 
print(X)

30
30
10
200
2.0
0
10240000000000

#### Membership Operators

In [6]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print('Sunday' in days)

True

In [7]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print('Xunday' not in days)

True

### 1.3.4. Conditional Statements

In [8]:

# The if statment

if 10 > 5:
    print("Ten is greater than 10")

Ten is greater than 10

In [11]:
# if-else statement

if  5 > 10:
    print("5 is greater than 10")
else:
    print("10 is greater than 5")

10 is greater than 5

In [12]:
#if-elif and else

if  5 > 10:
    print("5 is greater than 10")
elif 8 < 4:
    print("8 is smaller than 4")
else:
    print("5 is not greater than 10 and 8 is not smaller than 4")

5 is not greater than 10 and 8 is not smaller than 4

### 1.3.5. Iteration Statements

In [13]:
items = range(5)
for item in items:
    print(item)

0
1
2
3
4

In [14]:
c = 0
while c < 10:
    print(c)
    c = c +1

0
1
2
3
4
5
6
7
8
9

### 1.3.6. Functions

In [15]:
def myfunc():
    print("This is a simple function")

### function call
myfunc()

This is a simple function

In [16]:
def myfuncparam(num):
    print("This is a function with parameter value: "+num)

### function call
myfuncparam("Parameter 1")

This is a function with parameter value: Parameter 1

In [17]:
def myreturnfunc():
    return "This function returns a value"

val = myreturnfunc()
print(val)

This function returns a value

### 1.3.7. Objects and Classes

In [18]:
class Fruit:

    name = "apple"
    price = 10

    def eat_fruit(self):
        print("Fruit has been eaten")


f = Fruit()
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
apple
10

In [19]:
class Fruit:

    name = "apple"
    price = 10

    def __init__(self, fruit_name, fruit_price):
        Fruit.name = fruit_name
        Fruit.price = fruit_price

    def eat_fruit(self):
        print("Fruit has been eaten")


f = Fruit("Orange", 15)
f.eat_fruit()
print(f.name)

Fruit has been eaten
Orange

## Exercis 1.1

### Question 1

Which iteration should be used when you want to repeatedly execute a code specific number of times?

A- For Loop \
B- While Loop \
C- Both A & B \
D- None of the above 

Answer: A

### Question 2

What is the maximum number of values that a function can return in Python?

A- Single Value \
B- Double Value \
C- More than two values \
D- None

Answer: C

### Question 3

Which of the following membership operators are supported by Python?

A- In \
B- Out \
C- Not In \
D- Both A and C 

Answer: D

## Exercis 1.2

Print the table of integer 9 using a while loop:

In [19]:
j=1
while j< 11:
    print("9 x "+str(j)+ " = "+ str(9*j))
    j=j+1

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90