# Chapter 9: Interactive Data Visualization with Bokeh

In [1]:
### 9.1. Introduction|

### 9.2. Line Plots

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns

flights_data = sns.load_dataset('flights')

flights_data.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [3]:

from bokeh.plotting import figure, output_file, show

In [4]:
output_file('E:/bokeh.html')

In [5]:
plot = figure(
  title = 'Years vs Passengers',
  x_axis_label ='Year',
  y_axis_label ='Passengers',
  plot_width=600,
  plot_height=400
)

In [6]:
year = flights_data['year']
passengers = flights_data['passengers']

In [7]:
plot.line(year,passengers, legend='Years vs Passengers', line_width=2)

GlyphRenderer(id='1038', ...)

In [8]:
show(plot)

### 9.3. Bar Plots

In [9]:
month_passengers = flights_data.groupby("month")["passengers"].mean()
print(month_passengers.index.tolist())
print(month_passengers.tolist())

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
[241.75, 235.0, 270.1666666666667, 267.0833333333333, 271.8333333333333, 311.6666666666667, 351.3333333333333, 351.0833333333333, 302.4166666666667, 266.5833333333333, 232.83333333333334, 261.8333333333333]

In [10]:
plot2 = figure(
  x_range = month_passengers.index.tolist(),
  title = 'Month vs Passengers',
  x_axis_label ='Month',
  y_axis_label ='Passengers',
  plot_height=400
)

In [11]:
plot2.vbar(x = month_passengers.index.tolist() , top = month_passengers.tolist(), legend='Months vs Passengers', width = 0.7)
show(plot2)

### 9.4. Scatter Plots

In [12]:
plot3 = figure(
  title = 'Years vs Passengers',
  x_axis_label ='Year',
  y_axis_label ='Passengers',
  plot_width=600,
  plot_height=400
)

In [13]:
year = flights_data['year']
passengers = flights_data['passengers']

In [14]:
plot3.scatter(year,passengers, legend='Years vs Passengers', line_width=2)
show(plot3)

In [15]:
import seaborn as sns

tips_data = sns.load_dataset('tips')

tips_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
plot4 = figure(
  title = 'Total Bill vs Tips',
  x_axis_label ='Totall Bill',
  y_axis_label ='Tips',
  plot_width=600,
  plot_height=400
)

In [17]:
total_bill = tips_data['total_bill']
tips = tips_data['tip']

In [18]:
plot4.scatter(total_bill, tips, legend='Total Bill vs Tip', line_width=2)
show(plot4)

In [19]:
plot5 = figure(
  title = 'Total Bill vs Tips',
  x_axis_label ='Totall Bill',
  y_axis_label ='Tips',
  plot_width=600,
  plot_height=400
)

In [20]:
plot5.circle(total_bill, tips, radius = 0.5)
show(plot5)

## Exercise 9.1

### Question 1

Which object is used to set the width and height of a plot in bokeh:

A- figure() \
B- width() \
C- height() \
D- None of the above

Answer: A

### Question 2

Which attribute is used to set the width of the line in a line plot in bokeh:

A- line \
B- width \
C- line_width \
D- length 

Answer: C

### Question 3

In the Bokeh library, the list of values used to plot bar plots is passed to the following attribute of the bar plot:

A- values \
B- legends \
C- y \
D- top 

Answer: D

## Exercise 9.2

Plot a bar plot using titanic dataset that displays the average age of both male and female passengers.

In [22]:
titanic_data = pd.read_csv(r"E:\Data Visualization with Python\Datasets\titanic_data.csv")

titanic_data = pd.read_csv(r"E:\Data Visualization with Python\Datasets\titanic_data.csv")

sex_mean = titanic_data.groupby("Sex")["Age"].mean()

plotx = figure(
  x_range = sex_mean.index.tolist(),
  title = 'Sex vs Age',
  x_axis_label ='Sex',
  y_axis_label ='Age',
  plot_height=400
)

plotx.vbar(x = sex_mean.index.tolist() , top = sex_mean.tolist(), legend='Sex vs Age', width = 0.7)
show(plotx)